<div class="container">
<nav>
  <div class="nav-wrapper">
    <i class="right large material-icons" (click)="deleteMultiple()">delete</i>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><input class="" type="text"  placeholder="Search By Name" value="nameValue" [(ngModel)]="nameValue"></li>
      <li><button (click)="search(nameValue)" class="btn btn-primary">Search</button></li>
    </ul>
  </div>
</nav>

<div *ngIf="Searched">
<h2>Search Result</h2>
<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">Select</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of searchedData | paginate:{id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:searchedRecords}">
      <td><input type="checkbox" class="" (click)="check(user.id)"/></td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><i class="material-icons" (click)="deleteSingle(user.id)">edit</i>
        <i class="material-icons" (click)="deleteSingle(user.id)">delete</i>
      </td>
    </tr>
  </tbody>
</table>
<div class="ngx-pagination">
  <pagination-controls id="listing_pagination" (pageChange)="page=$event"></pagination-controls>
</div>
</div>


<!-- List of all elements-->
<div *ngIf="notSearched">
<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">Select</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data | paginate:{id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalRecords}">
      <td><input type="checkbox" class="filled-in" (click)="check(user.id)"/></td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><i class="material-icons" (click)="check(user.id)">edit</i>
        <i class="material-icons" (click)="deleteSingle(user.id)">delete</i>
      </td>
    </tr>
  </tbody>
</table>
<div class="ngx-pagination">
  <h6>{{selectedElement}} selected out of {{totalRecords}}</h6>
  <pagination-controls id="listing_pagination" (pageChange)="page=$event"></pagination-controls>
</div>
</div>
</div>